<!doctype html>
<html lang="en" layout:decorate="~{front/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{nav.success_title}">Sifariş Uğurludur</title>
</head>

<body>

<div layout:fragment="content">
    <div class="site-section bg-light">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-7">

                    <div class="p-5 bg-white shadow-sm rounded">
                        <span class="icon-check_circle display-3 text-success mb-4 d-block"></span>

                        <h2 class="text-black h1 font-weight-bold" th:text="#{success.thanks}">Təşəkkür edirik!</h2>

                        <p class="lead text-muted mb-5"
                           th:text="${success != null ? success : #messages.msg('success.message')}">
                            Sizin rezervasiya müraciətiniz qeydə alındı.
                        </p>

                        <div class="pt-3">
                            <a href="/" class="btn btn-white btn-outline-primary btn-md px-5 py-3 ml-2">
                                <span th:text="#{nav.home}">Ana Səhifə</span>
                            </a>
                            <a href="/account/bookings" class="btn btn-primary btn-md px-5 py-3 text-white">
                                <span th:text="#{user.booking}">Sifarişlərim</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>