<!DOCTYPE html>
<html lang="en" layout:decorate="~{front/account/user-layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Sifarişlərim</h1>


    <!-- DASHBOARD -->
    <div class="site-section">
        <div class="container">
            <div class="row">

                <!-- CONTENT -->
                <div class="col-lg-9">
                    <div class="bg-white shadow-sm rounded p-4">



                        <div class="table-responsive">
                            <table class="table table-hover align-middle">
                                <thead class="thead-light">
                                <tr>
                                    <th>#</th>
                                    <th>Avtomobil</th>
                                    <th>Tarix</th>
                                    <th>Qiymət</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="booking : ${bookings}">
                                    <td th:text="${booking.id}">1</td>

                                    <td>
                                        <strong th:text="${booking.car.brand + ' ' + booking.car.model}">
                                            BMW X5
                                        </strong>
                                    </td>

                                    <td>
                                        <small class="text-muted">
                                            <span th:text="${#temporals.format(booking.startDate,'dd.MM.yyyy')}"></span>
                                            -
                                            <span th:text="${#temporals.format(booking.endDate,'dd.MM.yyyy')}"></span>
                                        </small>
                                    </td>

                                    <td th:text="${booking.totalPrice + ' AZN'}">250 AZN</td>

                                    <td>
                                        <span class="badge px-3 py-2 text-black"
                                              th:classappend="
                                              ${booking.status.name() == 'COMPLETED'} ? 'badge-success' :
                                              (${booking.status.name() == 'CANCELLED'} ? 'badge-danger' : 'badge-warning')"
                                              th:text="${booking.status}">
                                        </span>
                                    </td>

                                    <td>
                                        <form th:if="${booking.status.name() == 'PENDING'}"
                                              th:action="@{/account/bookings/delete}"
                                              method="post">
                                            <input type="hidden" name="id" th:value="${booking.id}">
                                            <button class="btn btn-sm btn-outline-danger"
                                                    onclick="return confirm('Sifarişi ləğv etmək istəyirsiniz?')">
                                                Ləğv et
                                            </button>
                                        </form>
                                    </td>
                                </tr>

                                <tr th:if="${#lists.isEmpty(bookings)}">
                                    <td colspan="6" class="text-center py-5">
                                        <p class="text-muted mb-3">
                                            Hələ heç bir sifarişiniz yoxdur
                                        </p>
                                        <a href="/listing"
                                           class="btn btn-primary btn-sm text-white">
                                            Avtomobil icarələ
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>
