<!DOCTYPE html>
<html lang="az" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Qeydiyyat - CarRent Dashboard</title>
    <link th:href="@{/dashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/dashboard/css/sb-admin-2.min.css}" rel="stylesheet">
</head>
<body class="bg-gradient-primary">
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image" style="background: url('https://images.unsplash.com/photo-1503376780353-7e6692767b70?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=80'); background-size: cover;"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Hesab Yarat</h1>
                        </div>
                        <form class="user" th:action="@{/register}" method="post">
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" name="firstName" class="form-control form-control-user" placeholder="Ad">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="lastName" class="form-control form-control-user" placeholder="Soyad">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control form-control-user" placeholder="E-poçt ünvanı">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="password" name="password" class="form-control form-control-user" placeholder="Şifrə">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user" placeholder="Şifrəni təkrarla">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Qeydiyyatı Tamamla</button>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" th:href="@{/login}">Artıq hesabınız var? Giriş edin!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>