<!DOCTYPE html>
<html lang="en" layout:decorate="~{dashboard/layout}" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">SB Admin 2 - Dashboard</title>



</head>

<body id="page-top">




<div layout:fragment="content">

    <div class="container-fluid">

          <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary">Avtomobil Siyahısı</h6>
                <a th:href="@{/dashboard/car/create}" class="btn btn-sm btn-primary shadow-sm">
                    <i class="fas fa-plus fa-sm text-white-50"></i> Yeni Maşın Əlavə Et
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="dataTable_length">
                                    <label>Show
                                        <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm">
                                            <option value="10">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select> entries</label>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Ad (Brend/Model)</th>
                                        <th>İl</th>
                                        <th>Gündəlik Qiymət</th>
                                        <th>Sürət qutusu</th>
                                        <th>Yanacaq</th>
                                        <th>Qapı/Sərnişin</th>
                                        <th>Baqaj</th>
                                        <th>Statuslar</th>
                                        <th>Əməliyyatlar</th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>Ad (Brend/Model)</th>
                                        <th>İl</th>
                                        <th>Gündəlik Qiymət</th>
                                        <th>Sürət qutusu</th>
                                        <th>Yanacaq</th>
                                        <th>Qapı/Sərnişin</th>
                                        <th>Baqaj</th>
                                        <th>Statuslar</th>
                                        <th>Əməliyyatlar</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr th:each="car : ${carList}">
                                        <td th:text="${car.brand + ' ' + car.model}">BMW X5</td>

                                        <td th:text="${car.year}">2022</td>

                                        <td th:text="${'$' + car.dailyPrice}">$100.0</td>

                                        <td th:text="${car.transmission}">Automatic</td>

                                        <td th:text="${car.fuelType}">Petrol</td>

                                        <td th:text="${car.doorCount + ' / ' + car.passengerCount}">4 / 5</td>

                                        <td th:text="${car.luggageCapacity}">400L</td>

                                        <td>
                                            <span th:if="${car.freeCancellation}" class="badge badge-success">Pulsuz İmtina</span>
                                            <span th:if="${car.insuranceIncluded}" class="badge badge-info">Sığortalı</span>
                                        </td>

                                        <td>
                                            <div class="btn-group" role="group">
                                                <a th:href="@{/cars/edit/{id}(id=${car.id})}" class="btn btn-sm btn-warning">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a th:href="@{/cars/delete/{id}(id=${car.id})}" class="btn btn-sm btn-danger"
                                                   onclick="return confirm('Silmək istədiyinizə əminsiniz?')">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(carList)}">
                                        <td colspan="9" class="text-center">Sistemdə heç bir avtomobil tapılmadı.</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5">
                                <div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-7">
                                <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                    <ul class="pagination">
                                        <li class="paginate_button page-item previous disabled" id="dataTable_previous">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                        </li>
                                        <li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a>
                                        </li><li class="paginate_button page-item ">
                                        <a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a>
                                    </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a>
                                        </li>
                                        <li class="paginate_button page-item ">
                                            <a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a>
                                        </li>
                                        <li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a>
                                        </li>
                                        <li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>



</body>

</html>