<!doctype html>
<html lang="en" layout:decorate="~{front/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

  <head>
      <title th:text="#{nav.cars} + ' - CarRental'">Haqqımızda - CarRental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



  </head>

  <body>



      <div layout:fragment="content" >

          <div class="hero inner-page" style="background-image: url('/front/images/hero_1_a.jpg');">
              <div class="container">
                  <div class="row align-items-end">
                      <div class="col-lg-5">
                          <div class="intro">
                              <h1 th:text="#{nav.cars}">Haqqımızda</h1>
                              <div class="custom-breadcrumbs">
                                  <a href="/" th:text="#{nav.home}">Ana Səhifə</a>
                                  <span class="mx-2">/</span>
                                  <strong th:text="#{nav.cars}">Haqqımızda</strong>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>






          <div class="site-section bg-light">
              <div class="container">
<!--                  <div class="row">-->
<!--                      <div class="col-lg-7">-->
<!--                          <h2 class="section-heading"><strong>Avtomobil Siyahısı</strong></h2>-->
<!--                          <p class="mb-5">Sizin rahatlığınız üçün ən son model və tam sığortalı avtomobilləri təqdim edirik.</p>-->
<!--                      </div>-->
<!--                  </div>-->


                  <div class="row">
                      <div class="col-md-6 col-lg-4 mb-4" th:each="car : ${carPage.content}">
                          <div class="listing d-block align-items-stretch">
                              <div class="listing-img h-100 mr-4">
                                  <a th:href="${'/car/' + car.id}" >
                                    <img th:src="${car.imageUrl}" th:alt="${car.brand}" class="img-fluid">
                                  </a>
                              </div>
                              <div class="listing-contents h-100">
                                  <h3 th:text="${car.brand + ' ' + car.model}">Model Adı</h3>
                                  <div class="rent-price">
                                      <strong th:text="${'$' + car.dailyPrice}">$0.00</strong><span class="mx-1">/</span>day
                                  </div>
                                  <div class="d-block d-md-flex mb-3 border-bottom pb-3">
                                      <div class="listing-feature pr-4">
                                          <span class="caption">Luggage:</span>
                                          <span class="number" th:text="${car.luggageCapacity}">0</span>
                                      </div>
                                      <div class="listing-feature pr-4">
                                          <span class="caption">Doors:</span>
                                          <span class="number" th:text="${car.doorCount}">0</span>
                                      </div>
                                      <div class="listing-feature pr-4">
                                          <span class="caption">Passenger:</span>
                                          <span class="number" th:text="${car.passengerCount}">0</span>
                                      </div>
                                  </div>
                                  <div>
                                      <p th:text="${car.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                      <p><a th:href="${'/car/' + car.id}"  class="btn btn-primary btn-sm" th:text="#{btn.rent_now}">İcarəyə götür</a></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-5">
                          <div class="custom-pagination">
                              <a th:if="${carPage.hasPrevious()}"
                                 th:href="'/listing?page=' + ${currentPage - 1} + '&brand=' + ${selectedBrand} + '&pickup=' + ${selectedPickup} + '&dropoff=' + ${selectedDropoff}">&lt;</a>

                              <span th:each="i : ${#numbers.sequence(0, (carPage.totalPages > 0 ? carPage.totalPages - 1 : 0))}">
                                  <a th:href="'/listing?page=' + ${i} + '&brand=' + ${selectedBrand} + '&pickup=' + ${selectedPickup} + '&dropoff=' + ${selectedDropoff}"
                                     th:text="${i + 1}"
                                     th:classappend="${currentPage == i} ? 'active' : ''">1</a>
                            </span>

                              <a th:if="${carPage.hasNext()}"
                                 th:href="'/listing?page=' + ${currentPage + 1} + '&brand=' + ${selectedBrand} + '&pickup=' + ${selectedPickup} + '&dropoff=' + ${selectedDropoff}">&gt;</a>

                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="site-section">
              <div class="container">
                  <div class="row">
                      <div class="col-lg-7">
                          <h2 class="section-heading"><strong th:text="#{reviews.title}">Rəylər</strong></h2>
                          <p class="mb-5" th:text="#{reviews.description}">Müştərilərimizin bizim haqqımızda düşüncələri. Sizin məmnuniyyətiniz bizim üçün ən böyük mükafatdır.</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-4 mb-4" th:each="t : ${testimonials}">
                          <div class="testimonial-2">
                              <blockquote class="mb-4">
                                  <p th:text="${t.content}">"Static placeholder text"</p>
                              </blockquote>
                              <div class="d-flex v-card align-items-center">
                                  <img th:src="${t.imageUrl}" alt="Image" class="img-fluid mr-3">
                                  <div class="author-name">
                                      <span class="d-block" th:text="${t.authorName}">Author Name</span>
                                      <span th:text="${t.authorRole}">Author Role</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>



    </div>

  </body>

</html>

