<!doctype html>
<html lang="en" layout:decorate="~{front/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

  <head>
      <title th:text="#{nav.reviews} + ' - CarRental'">Haqqımızda - CarRental</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  </head>



  <body>



      <div layout:fragment="content" >


          <div class="hero inner-page" style="background-image: url('/front/images/hero_1_a.jpg');">
              <div class="container">
                  <div class="row align-items-end">
                      <div class="col-lg-5">
                          <div class="intro">
                              <h1 th:text="#{nav.reviews}">Haqqımızda</h1>
                              <div class="custom-breadcrumbs">
                                  <a th:href="@{/}" th:text="#{nav.home}">Ana Səhifə</a>
                                  <span class="mx-2">/</span>
                                  <strong th:text="#{nav.reviews}">Haqqımızda</strong>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>



          <div class="site-section bg-light">
              <div class="container">
<!--                  <div class="row">-->
<!--                      <div class="col-lg-7">-->
<!--                          <h2 class="section-heading"><strong>Testimonials</strong></h2>-->
<!--                          <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>-->
<!--                      </div>-->
<!--                  </div>-->

                  <div class="row">
                      <div class="col-lg-4 mb-4" th:each="t : ${testimonials}">
                          <div class="testimonial-2">
                              <blockquote class="mb-4">
                                  <p th:text="${t.content}">"Static placeholder text"</p>
                              </blockquote>
                              <div class="d-flex v-card align-items-center">
                                  <img th:src="@{${t.imageUrl}}" alt="Image" class="img-fluid mr-3">
                                  <div class="author-name">
                                      <span class="d-block" th:text="${t.authorName}">Author Name</span>
                                      <span th:text="${t.authorRole}">Author Role</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>




    </div>

  </body>

</html>

