/* Aktiv səhifə rəqəminin rəngi */
.custom-pagination a.active {
    background: #f89d13 !important;
    color: #fff !important;
    border: 1px solid #f89d13;
}

/* Rəqəmlərin ümumi görünüşü */
.custom-pagination a, .custom-pagination span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    margin: 2px;
    text-align: center;
}

.custom-pagination a:hover {
    background: #f89d13;
    color: #fff;
}

@media (max-width: 576px) {
    #chatInterface {
        width: 90% !important; /* Ekranın 90%-ni tutsun */
        right: 5% !important;  /* Ortalanmış kimi görünsün */
        bottom: 80px !important;
        height: 70vh !important; /* Ekranın hündürlüyünə uyğunlaşsın */
    }

    #chatToggleBtn {
        width: 55px !important;
        height: 55px !important;
        bottom: 15px !important;
        right: 15px !important;
    }
}