name: CI/CD Pipeline

on:
  push:
    branches: [ main ]  # Kod hansı branch-a push olunanda işləsin

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t eminelxanoglu971/spring-app:latest .
          docker push eminelxanoglu971/spring-app:latest

      - name: Deploy to AWS via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.AWS_HOST }}
          username: ubuntu
          key: ${{ secrets.AWS_SSH_KEY }}
          script: |
            sudo docker pull eminelxanoglu971/spring-app:latest
            sudo docker rm -f app || true
            sudo docker run -d --name app \
              --network car-rent-net \
              -p 8080:8080 \
              eminelxanoglu971/spring-app:latest