name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t eminelxanoglu971/spring-app:latest .
          docker push eminelxanoglu971/spring-app:latest

      - name: Deploy to AWS via SSH
        uses: appleboy/ssh-action@master
        with:
            host: ${{ secrets.AWS_HOST }}
            username: ubuntu
            key: ${{ secrets.AWS_SSH_KEY }}
            command_timeout: 5m  # 5 dəqiqədən çox çəksə avtomatik dayansın
            script: |
              # Köhnə imicləri silərək yer açın
              sudo docker image prune -f
              
              # Yeni imici çəkin
              sudo docker pull eminelxanoglu971/spring-app:latest
              
              # Köhnə konteyneri dayandırın və silin
              sudo docker rm -f app || true
              
              # Yeni konteyneri başladın
              sudo docker run -d --name app \
                --network car-rent-net \
                -p 8080:8080 \
                --restart unless-stopped \
                -e SPRING_DATASOURCE_URL="jdbc:postgresql://db:5432/cardb" \
                -e SPRING_DATASOURCE_USERNAME="postgres" \
                -e SPRING_DATASOURCE_PASSWORD="12345" \
                -e SENDGRID_API_KEY="${{ secrets.SENDGRID_API_KEY }}" \
                -e SPRING_MAIL_USERNAME="${{ secrets.SPRING_MAIL_USERNAME }}" \
                -e SPRING_MAIL_PASSWORD="${{ secrets.SPRING_MAIL_PASSWORD }}" \
                -e GOOGLE_CLIENT_ID="${{ secrets.GOOGLE_CLIENT_ID }}" \
                -e GOOGLE_CLIENT_SECRET="${{ secrets.GOOGLE_CLIENT_SECRET }}" \
                -e GOOGLE_API_KEY="${{ secrets.GOOGLE_API_KEY }}" \
                eminelxanoglu971/spring-app:latest